/* Config de estilos para tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el login, inicio*/
@keyframes bounceBall {
  0%, 100% {
    transform: translateY(0) scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: translateY(-20px) scale(1.25);
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.3);
  }
}

.animate-bounce-ball {
  display: inline-block;
  animation: bounceBall 0.8s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* Estilo para el texto de la app */
/* Se eliminan los estilos por defecto de los spans */
span {
  -webkit-text-stroke: 0; /* elimina posible contorno */
  text-shadow: none;       /* elimina sombras */
  background: transparent; /* fondo transparente */
  line-height: 1;          /* para evitar espacios extra */
  user-select: none;       /* opcional: que no se seleccione */
}
/* Efectos para el login, Fin */


/* Efectos para el dashboard, Inicio */
@keyframes bounceScale {
  0%, 100% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-30px) scale(1.3); }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
  opacity: 0;
}
/* Efectos para el dashboard, Fin*/